//META{"name":"Discord Cyberpunk Neon","description":"An outrun/cyberpunk theme, based on Cyberpunk Neon color scheme","author":"Roboron","version":"3"}*//

@import url("https://roboron3042.github.io/Cyberpunk-Neon/CSS/discord/base.css");

/* Custom CSS goes here */

.theme-dark{
    --channeltextarea-background: #241b2f;
    --channels-default: #ffffff;

    --header-primary: #ea00d9;
    --header-secondary: #0abdc6;

    --text-normal: #ffffff;
    --background-primary: #262335;
    --background-secondary: #241b2f;
    --background-secondary-alt: #171520;
    --background-tertiary: #171520;
    --background-accent: #241b2f;
    
    --background-floating: var(--background-tertiary);
    --background-modifier-hover: #2a203b;
    --background-modifier-active: rgba(113, 28, 145, .6);
    --background-modifier-selected: rgba(113, 28, 145, .6);
    --background-modifier-accent: rgba(10, 189, 198, .2);

    --activity-card-background: #ffffff;

    --interactive-normal: #ffffff;
    --interactive-hover: #ea00d9;
    --interactive-active: #ea00d9;
    --interactive-muted: rgba(10, 189, 198, .6);  
}

.theme-dark .headerNormal-T_seeN {
    background-color: var(--background-secondary);
}
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
    background-color: var(--background-primary);
}
.theme-dark .quickMessage-1yeL4E {
    background-color: var(--background-tertiary);
    border-color: var(--interactive-hover);
    color: #0abdc6;
}

.theme-dark .tooltipBlack-PPG47z, .theme-light .tooltipBlack-PPG47z {
    background-color: var(--background-primary);
}

.theme-dark .container-1D34oG {
    background-color: var(--background-secondary);
}

.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
	background-color: #0abdc6 !important;
	border-color: rgba(0,0,0,0) !important;
}

.theme-dark .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece {
	background-color: #ffffff00 !important;
	border-color: rgba(0,0,0,0) !important;
}
.theme-dark .member-1q7VfX .name-8yzEIY {
    color: #ffffff;
}
.focusLock-Ns3yie *{
    background-color: var(--background-primary);
}
.theme-dark .tooltipRed-8-9NeP, .theme-light .tooltipRed-8-9NeP {
    color: #d7d7d5;
    background-color: #ff0000;
}
.tooltipGreen-WdeQwd{
    color: white !important;
}
.modeUnread-1zpFdA *{
    color: var(--interactive-normal) !important;
}
.unread-3zKkbm{
    background-color: var(--interactive-normal);
}

.theme-dark .card-FDVird:before {
    background-color: #ffffffff;
    border-color: rgba(10, 189, 198, .6);
}

.emojiPicker-3m1S-j {
    border: none;
    box-shadow: 0px 0px 5px #0abdc6;
    border-radius: .5em;
}
.emojiPicker-3m1S-j .searchBar-2pWH0_ *{
    background-color: var(--background-primary);
}
.emojiPicker-3m1S-j .header-1nkwgG{
    background-color: var(--background-tertiary);
}
.emojiPicker-3m1S-j .scrollerWrap-2lJEkd{
    background-color: var(--background-primary);
}
.emojiPicker-3m1S-j .category-2U57w6 {
    background-color: var(--background-primary) !important;
}
.emojiPicker-3m1S-j .infoBar-U6oBFk {
    background-color: var(--background-secondary);
}
#bda-qem{
    display: none;
}

.messagesPopoutWrap-1MQ1bW .header-ykumBX{
    background-color: var(--background-secondary);
}
.messagesPopoutWrap-1MQ1bW .scroller-2FKFPG{
    background-color: var(--background-tertiary);
}
.messagesPopoutWrap-1MQ1bW .messageGroupCozy-2iY6cT{
    background-color: var(--background-primary);
}
.messagesPopoutWrap-1MQ1bW .footer-1kmXd4{
    background-color: var(--background-secondary);
}

.inner-1ilYF7 .header-2tA9Os ,.inner-1ilYF7 .scrollerWrap-2lJEkd{
    background-color: var(--background-primary);;
}
.inner-1ilYF7 .footer-3rDWdC{
    background-color: var(--background-tertiary);
}

.item-26Dhrx{
    background-color: var(--background-tertiary);
}

.cardPrimary-1Hv-to{
    background-color: var(--background-tertiary);
}

.connectionHeader-2MDqhu{
    background-color: var(--background-tertiary);
}
.connectionOptionsWrapper-3KIj1Z:nth-child(2) *{
    color:white !important;
}
.codeRedemptionRedirect-1wVR4b{
    background-color: var(--background-tertiary) !important;
}
.notDetected-33MY4s{
    background-color: var(--background-tertiary) !important;
}

.cardPrimaryEditable-3KtE4g:has(.checkboxWrapper-SkhIWG:has(.checked-3_4uQ9)){
    background-color: aqua !important;
}
.footer-3rDWdC, .footer-3rDWdC *{
    background-color: var(--background-tertiary) !important;
}