#############################
###        OPTIONS        ###
#############################

set afterends
set autoindent
set brackets ""')>]}"
set jumpyscrolling
set linenumbers
set matchbrackets "(<[{)>]}"
set tabsize 4
set tabstospaces

##############################
###         COLORS         ###
##############################

# UI COLORS

set titlecolor black,cyan
set statuscolor black,cyan
set errorcolor brightwhite,red
set selectedcolor black,cyan
set stripecolor ,cyan
set numbercolor brightwhite
set keycolor cyan
set functioncolor brightwhite

# Syntax Highlighting
include "/usr/share/nano/*.nanorc"
